.btn-new-tag,
.btn-new-note,
.btn-toggle-options,
.btn-sidebar-open,
.btn-sidebar-close {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 3rem;

    border: var(--border-primary);
    border-radius: var(--border-radius);

    color: var(--text-color-btn-add);

    &:hover {
        background: var(--bg-primary-hover);
    }

    i {
        font-size: 1.5rem;
    }
}

.btn-sidebar-open {
    i {
        transform: rotate(180deg);
    }
}

.btn-tag {
    display: flex;
    align-items: center;

    padding: var(--padding-btn);

    height: 2.25rem;
    width: 100%;

    font-size: var(--font-size-btn);
    font-family: "Inter", serif;

    color: var(--text-color-primary);

    cursor: pointer;

    transition: var(--transition);

    &:hover {
        background: var(--bg-primary-hover);
    }

    i {
        pointer-events: none;
    }
}

.btn-edit-note,
.btn-delete-note,
.btn-bookmark-note {
    height: 2rem;
    width: 2rem;

    border: var(--border-primary);
    border-radius: var(--border-radius);

    padding: 0.75rem;

    &:hover {
        background: var(--bg-color-modal-hover);
    }
}

.btn-bookmark-note {
    color: hsl(36, 94%, 53%);
}

.btn-edit-note {
    color: var(--text-color-btn-edit);
}

.btn-delete-note {
    color: var(--text-color-btn-del);
}
