.custom {
    //display: block;

    position: absolute;
    right: 0;

    border: var(--border-primary);
    border-radius: var(--border-radius);
    margin-top: 1rem;

    background: var(--bg-color-note);
    color: #ffffff !important;

    &__view {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;

        margin-bottom: 0.25rem;
        padding: 0.75rem 0;

        width: 100%;

        &-top {
            display: flex;
            justify-content: flex-start;

            padding: 0 0.75rem;

            width: 100%;
        }

        &-title {
            font-size: 1rem;
        }

        &-btn-wrapper {
            display: flex;
            justify-content: center;

            width: 100%;
        }

        &-btn {
            display: flex;
            flex-direction: column;
            align-items: center;

            border-radius: var(--border-radius);
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            width: 50%;

            color: hsl(0, 0%, 88%);

            &:hover {
                background-color: var(--bg-color-modal-hover);
                color: hsl(0, 0%, 100%);
            }
        }
    }

    &__sort {
        padding-bottom: 0.75rem;

        &-title {
            font-size: 1rem;
            margin-bottom: 0.25rem;
            padding-left: 0.75rem;
        }

        &-main {
            display: flex;
            flex-direction: column;
        }

        &-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;

            padding: 0.25rem 0.75rem;

            cursor: pointer;

            &:hover {
                background-color: var(--bg-color-modal-hover);
            }
        }
    }

    &__select {
        width: 180px;

        border: var(--border-primary);
        border-radius: var(--border-radius);

        font-size: 0.9rem;

        &:hover {
            cursor: pointer;
        }

        &-trigger {
            padding: 0.25rem 0.5rem;

            color: hsl(0, 0%, 88%);

            &:hover {
                color: hsl(0, 0%, 100%);
            }
        }

        &-options {
            position: absolute;

            border: var(--border-primary);
            border-radius: var(--border-radius);

            background-color: var(--bg-color-note);
        }

        &-choice {
            padding: 0.25rem 0.5rem;

            &:hover {
                background-color: hsl(0, 0%, 38%);
            }
        }
    }
}
