.sidebar {
    width: 30%;

    margin-top: 3rem;

    &__options {
        display: flex;
        justify-content: flex-end;
    }

    &__priority {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        border: (var(--border-primary));
        border-radius: var(--border-radius);
        margin-bottom: 1.5rem;
        padding: var(--padding-note);

        background: var(--bg-color-note);

        &-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-item {
            display: flex;
            align-items: center;

            height: 2.25rem;

            border: 1px solid rgba(255, 255, 255, 0.125);
            border-radius: var(--border-radius);
            padding: 0.5rem;

            color: var(--text-color-primary);

            text-transform: capitalize;

            cursor: pointer;

            transition: var(--transition);

            &:hover {
                background: var(--bg-color-modal-hover);
            }

            i {
                pointer-events: none;

                margin-right: 0.5rem;

                color: red;
            }
        }
    }

    &__tag {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        border: (var(--border-primary));
        border-radius: var(--border-radius);
        margin-bottom: 1.5rem;
        padding: var(--padding-note);

        overflow-y: scroll;

        background: var(--bg-color-note);

        &-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-item {
            display: flex;
            align-items: center;
            text-align: left;

            height: 2.25rem;

            border: 1px solid rgba(255, 255, 255, 0.125);
            border-radius: var(--border-radius);
            padding: 0.5rem;

            color: var(--text-color-primary);

            cursor: pointer;

            transition: var(--transition);

            &:hover {
                background: var(--bg-color-modal-hover);
            }

            i {
                pointer-events: none;

                margin-right: 0.5rem;
            }
        }
    }

    &__header {
        font-size: var(--font-size-heading-category);

        color: #ffffff;
    }
}
