:root {
    --bg-color-body: hsl(0, 0%, 4%);
    --bg-color-note: hsl(0, 0%, 13%);
    --bg-color-search: hsl(0, 0%, 13%);
    --bg-color-modal: hsl(0, 0%, 10%);
    --bg-color-modal-hover: hsl(0, 0%, 25%);
    --bg-color-btn-add: hsl(226, 81%, 53%);
    --bg-color-btn-add-hover: hsl(226, 81%, 43%);
    --bg-color-btn-sort: hsl(0, 0%, 9%);
    --bg-color-btn-sort-hover: hsl(0, 0%, 16%);

    --text-color-primary: hsl(0, 0%, 88%);
    --text-color-secondary: hsl(0, 0%, 70%);
    --text-color-muted: hsl(0, 0%, 55%);
    --text-color-btn-add: hsl(0, 0%, 100%);
    --text-color-btn-del: hsl(0, 74%, 66%);
    --text-color-btn-edit: hsl(0, 0%, 55%);
    --text-color-btn-sort: hsl(0, 0%, 100%);

    --font-size-heading-app: 2rem;
    --font-size-heading-category: 1.25rem;
    --font-size-note-title: 1.5rem;
    --font-size-heading-tag: 1.25rem;
    --font-size-body: 1rem;
    --font-size-btn: 1rem;

    --border-primary: 0.0625rem solid hsla(0, 0%, 100%, 0.2);
    --border-radius: 0.25rem;

    --padding-note: 1rem;
    --padding-btn: 1rem 1.25rem;

    --shadow: 0rem 0.625rem 0.9375rem 0.625rem rgba(0, 0, 0, 0.3);

    --transition: 0.2s ease-in-out;

    --heading-color: hsl(0, 0%, 100%);
    --text-color: hsl(180, 2%, 60%);
    --brand-color: hsl(39, 100%, 45%);
    --brand-color-hover: hsl(39, 100%, 35%);
    --border-primary: 1px #373a41 solid;
    --bg-primary: hsl(220, 4%, 2%);
    --bg-primary-hover: hsl(220, 4%, 8%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    *::before,
    *::after {
        box-sizing: border-box;
    }
}

html {
    font-size: 16px;
}

body {
    // display: grid;
    // place-items: center;
    font-family: "Inter", serif;
    font-weight: 400;
    line-height: 1.5;

    background: var(--bg-primary);
}

header {
    display: flex;
    justify-content: space-between;
}

div {
    transition: var(--transition);
}

textarea {
    width: 100%;

    overflow-y: hidden;
    resize: none;
    box-sizing: border-box;
    resize: none;

    border: var(--border-primary);
    border-radius: var(--border-radius);
    padding: 0.5rem 0.65rem;

    font-size: var(--font-size-btn);
    font-family: "Inter", serif;
    line-height: 1.4;

    color: var(--text-color-primary);
    background: none;

    transition:
        border-color 0.3s,
        box-shadow 0.3s;

    &:focus {
        border: 1px solid hsl(0, 0%, 70%);
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--padding-btn);

    height: 2.25rem;
    width: fit-content;

    background: none;

    font-size: var(--font-size-btn);
    font-family: "Inter", serif;

    cursor: pointer;

    transition: var(--transition);

    i {
        pointer-events: none;
    }
}

h3 {
    color: var(--heading-color);

    font-size: 1.4rem;
    font-weight: 500;
}

h2 {
    color: var(--heading-color);

    font-size: 1.4rem;
    font-weight: 500;
}

p {
    font-size: var(--font-size-body);
}

label {
    pointer-events: none;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

li {
    transition: var(--transition);
}

.tag-item {
    display: flex;
    align-items: center;
    text-align: left;

    height: 2.25rem;
    width: 80%;

    position: relative;

    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: var(--border-radius);
    padding: 0.5rem;

    color: white;

    transition: var(--transition);

    i {
        display: grid;
        place-items: center;

        position: absolute;
        right: -3.34rem;

        width: 2.25rem;
        height: 2.25rem;

        border: var(--border-primary);
        border-radius: var(--border-radius);

        color: var(--text-color-btn-del);

        transition: var(--transition);

        &:hover {
            background: var(--bg-color-modal-hover);
        }
    }
}

.note-creation-popup,
.note-editing-popup,
.note-filtering-popup,
.tag-creation-popup {
    display: grid;
    place-items: center;

    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    background-color: hsla(0, 0%, 0%, 0.7);
}

.navbar__btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-app {
    max-width: 1500px;
    width: 95%;

    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    z-index: 600;

    max-width: 1500px;
    width: 95%;

    padding: 1rem 0;

    background: var(--bg-primary);

    &__title {
        display: flex;
        justify-content: space-between;

        color: var(--text-color-primary);
        font-size: var(--font-size-heading-app);
    }
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    width: 100%;

    margin-top: 100px;

    position: relative;
}

.note-wrapper {
    display: flex;
    flex-direction: column;
    //align-items: center;

    width: 100%;
}

.unbookmarked-category,
.bookmarked-category {
    margin: 0 auto;
}

.notes-list,
.bookmarked-notes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.bookmarked-note-count,
.note-count {
    display: grid;
    place-items: center;

    width: 2rem;
    height: 2rem;

    border: var(--border-primary);
    border-radius: var(--border-radius);

    color: var(--text-color-primary);
    font-size: var(--font-size-body);
}

.category {
    margin-bottom: 2rem;

    &__details {
        display: flex;
        align-items: center;
        gap: 1rem;

        margin-bottom: 1rem;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        color: var(--text-color-primary);
        font-size: var(--font-size-heading-category);
    }

    &__dropdown-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transition: var(--transition);
    }
}

.list-layout {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;

    transition:
        gap 0.3s ease,
        transform 0.3s ease;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    transition:
        gap 0.3s ease,
        transform 0.3s ease;

    @media (width < 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width < 700px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.note-about-list-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    // @media (max-width: 600px) {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-start;
    // }
}

.note-about-grid-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.note-content-list-view {
    display: block;

    @media (max-width: 600px) {
        display: none;
    }
}

.note-content-grid-view {
    display: none;
}

.hidden {
    display: none;
}

.input-wrapper {
    display: inline-block;

    width: 100%;
    max-width: 300px;

    position: relative;

    .input-field {
        width: 100%;

        outline: none;
        border: var(--border-primary);
        border-radius: var(--border-radius);
        padding: 10px 12px;

        color: white;
        background-color: transparent;

        font-size: 1rem;
        font-family: "Inter", serif;

        transition:
            border-color 0.3s,
            box-shadow 0.3s;

        &:focus {
            border: 1px solid hsl(0, 0%, 70%);
        }

        &:not(:placeholder-shown) + .input-label,
        &:focus + .input-label {
            display: none;
        }
    }

    .input-label {
        position: absolute;
        top: 50%;
        left: 0.75rem;

        transform: translateY(-50%);

        color: hsla(0, 0%, 100%, 0.2);

        font-size: 1rem;

        transition: all 0.3s ease;
    }
}

.active {
    background: var(--bg-color-btn-add);
    color: hsl(0, 0%, 100%);
}

.custom__view-btn.active {
    background: var(--brand-color);
    color: hsl(0, 0%, 100%);
}

.rotate {
    transform: rotate(90deg);
}

.red-p1 {
    color: red;
}

.orange-p2 {
    color: orange;
}

.yellow-p3 {
    color: yellow;
}

.blue-p4 {
    color: rgb(0, 89, 255);
}

.red-p1 .ri-circle-line {
    color: red;
}

.orange-p2 .ri-circle-line {
    color: orange;
}

.yellow-p3 .ri-circle-line {
    color: yellow;
}

.blue-p4 .ri-circle-line {
    color: rgb(0, 89, 255);
}
