:root {
    --bg-color-body: hsl(0, 0%, 4%);
    --bg-color-note: hsl(0, 0%, 13%);
    --bg-color-search: hsl(0, 0%, 13%);
    --bg-color-modal: hsl(0, 0%, 10%);
    --bg-color-modal-hover: hsl(0, 0%, 25%);
    --bg-color-btn-add: hsl(226, 81%, 53%);
    --bg-color-btn-add-hover: hsl(226, 81%, 43%);
    --bg-color-btn-sort: hsl(0, 0%, 9%);
    --bg-color-btn-sort-hover: hsl(0, 0%, 16%);

    --text-color-primary: hsl(0, 0%, 88%);
    --text-color-secondary: hsl(0, 0%, 70%);
    --text-color-muted: hsl(0, 0%, 55%);
    --text-color-btn-add: hsl(0, 0%, 100%);
    --text-color-btn-del: hsl(0, 74%, 66%);
    --text-color-btn-edit: hsl(0, 0%, 55%);
    --text-color-btn-sort: hsl(0, 0%, 100%);

    --font-size-heading-app: 2rem;
    --font-size-heading-category: 1.25rem;
    --font-size-note-title: 1.5rem;
    --font-size-heading-tag: 1.25rem;
    --font-size-body: 1rem;
    --font-size-btn: 1rem;

    --border-primary: 0.0625rem solid hsla(0, 0%, 100%, 0.2);
    --border-radius: 0.25rem;

    --padding-note: 1rem;
    --padding-btn: 1rem 1.25rem;

    --shadow: 0rem 0.625rem 0.9375rem 0.625rem rgba(0, 0, 0, 0.3);

    --transition: 0.2s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    *::before,
    *::after {
        box-sizing: border-box;
    }
}

html {
    font-size: 16px;
}

body {
    background: var(--bg-color-body);

    font-family: "Inter", serif;
    font-weight: 400;

    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
}

textarea {
    overflow-y: hidden;
    resize: none;
    width: 100%;
    box-sizing: border-box;

    font-size: var(--font-size-btn);
    color: var(--text-color-primary);
    background: none;

    font-family: "Inter", serif;
    line-height: 1.5;

    resize: none;
}

label {
    pointer-events: none;
}

p {
    color: var(--text-color-muted);
    font-size: var(--font-size-body);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--padding-btn);

    height: 2.25rem;
    width: fit-content;

    background: none;

    font-size: var(--font-size-btn);
    font-family: "Inter", serif;

    cursor: pointer;

    transition: var(--transition);

    i {
        pointer-events: none;
    }
}

div {
    transition: var(--transition);
}

.tag-item {
    display: flex;
    align-items: center;
    text-align: left;

    height: 2.25rem;
    width: 80%;

    position: relative;

    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: var(--border-radius);
    padding: 0.5rem;

    color: white;

    transition: var(--transition);

    i {
        display: grid;
        place-items: center;

        position: absolute;
        right: -3.34rem;

        width: 2.25rem;
        height: 2.25rem;

        border: var(--border-primary);
        border-radius: var(--border-radius);

        color: var(--text-color-btn-del);

        transition: var(--transition);

        &:hover {
            background: var(--bg-color-modal-hover);
        }
    }
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

li {
    transition: var(--transition);
}

.popup-container {
    display: grid;
    place-items: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    background-color: hsla(0, 0%, 0%, 0.7);
}

.note-creation-popup,
.note-editing-popup,
.note-filtering-popup,
.tag-creation-popup {
    display: grid;
    place-items: center;

    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    background-color: hsla(0, 0%, 0%, 0.7);
}

body {
    display: grid;
    place-items: center;
}

.note-app {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1000px;
    max-width: 1500px;
    width: 95%;
}

.navbar {
    display: flex;
    justify-content: space-between;

    position: fixed;
    z-index: 1000;

    max-width: 1000px;
    max-width: 1500px;
    width: 85%;

    padding: 1rem 0;

    //background-color: var(--bg-color-body);

    &__title {
        display: flex;
        justify-content: space-between;

        color: var(--text-color-primary);
        font-size: var(--font-size-heading-app);
    }

    &__btn-wrapper {
        display: flex;
        gap: 0.75rem;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;

    margin-top: 120px;
}

.note-wrapper {
    //max-width: 700px;
    //min-width: 550px;
    //width: 65%;
    width: 100%;
}

.notes-list,
.bookmarked-notes-list {
    //display: flex;
    //flex-direction: column;
    gap: 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.note__content {
    display: none;
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.list-layout,
.grid-layout {
    transition:
        gap 0.3s ease,
        transform 0.3s ease;
}

.list-layout {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.active {
    background: var(--bg-color-btn-add);
    color: hsl(0, 0%, 100%);
}

.custom__view-btn.active {
    background: var(--bg-color-btn-add);
    color: hsl(0, 0%, 100%);
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.note__about {
    //display: flex;
    //flex-direction: column;
    //align-items: left;
}

.hidden {
    display: none;
}

.bookmarked-note-count,
.note-count {
    display: grid;
    place-items: center;

    width: 2rem;
    height: 2rem;

    border: var(--border-primary);
    border-radius: var(--border-radius);

    color: var(--text-color-primary);
    font-size: var(--font-size-body);
}

.category {
    margin-bottom: 2rem;
    &__details {
        display: flex;
        align-items: center;
        gap: 1rem;

        margin-bottom: 1rem;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        color: var(--text-color-primary);
        font-size: var(--font-size-heading-category);
    }

    &__dropdown-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transition: var(--transition);
    }
}

.input-wrapper {
    display: inline-block;

    width: 100%;
    max-width: 300px;

    position: relative;

    .input-field {
        width: 100%;

        outline: none;
        border: 1px solid hsla(0, 0%, 100%, 0.2);
        border-radius: var(--border-radius);
        padding: 10px 12px;

        color: white;
        background-color: transparent;

        font-size: 1rem;
        font-family: "Inter", serif;

        transition:
            border-color 0.3s,
            box-shadow 0.3s;

        &:focus {
            border: 1px solid white;

            //box-shadow: 0 0 0.1px white;
        }

        &:not(:placeholder-shown) + .input-label,
        &:focus + .input-label {
            display: none;
        }
    }

    .input-label {
        position: absolute;
        top: 50%;
        left: 0.75rem;

        transform: translateY(-50%);

        color: hsla(0, 0%, 100%, 0.2);

        font-size: 1rem;

        transition: all 0.3s ease;
    }
}

textarea {
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: var(--border-radius);
    padding: 0 0.65rem;

    line-height: 1.3;

    transition:
        border-color 0.3s,
        box-shadow 0.3s;

    &:focus {
        border: 1px solid white;

        //box-shadow: 0 0 0.1px white;
    }
}

.rotate {
    transform: rotate(90deg);
}

.red-p1 {
    color: red;
}

.orange-p2 {
    color: orange;
}

.yellow-p3 {
    color: yellow;
}

.blue-p4 {
    color: rgb(0, 89, 255);
}

.red-p1 .ri-circle-fill {
    color: red;
}

.orange-p2 .ri-circle-fill {
    color: orange;
}

.yellow-p3 .ri-circle-fill {
    color: yellow;
}

.blue-p4 .ri-circle-fill {
    color: rgb(0, 89, 255);
}

//! The below will get toggled when the user switches between list and grid view

.note-about-list-view {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5rem;
}

.note-about-grid-view {
    display: block;

    margin-top: 1.5rem;
}