.btn-new-tag,
.btn-new-note,
.btn-change-view,
.btn-sort-alphabetically,
.btn-sort-by-date,
.btn-filter-by-priority,
.btn-filter-by-tag,
.btn-toggle-options {
    height: 3rem;
    width: 3rem;

    border-radius: var(--border-radius);
    background: var(--bg-color-btn-add);
    color: var(--text-color-btn-add);

    &:hover {
        background: var(--bg-color-btn-add-hover);
    }

    i {
        font-size: 1.5rem;
    }
}

.btn-new-tag {
    i {
        position: relative;
        bottom: -0.05rem;
    }
}

.btn-tag {
    display: flex;
    align-items: center;

    padding: var(--padding-btn);

    height: 2.25rem;
    width: 100%;

    font-size: var(--font-size-btn);
    font-family: "Inter", serif;

    color: var(--text-color-primary);

    cursor: pointer;

    transition: var(--transition);

    &:hover {
        background: var(--bg-color-modal-hover);
    }

    i {
        pointer-events: none;
    }
}

.btn-new-note {
    height: 3rem;
    width: 3rem;

    background: var(--bg-color-btn-add);
    color: var(--text-color-btn-add);

    &:hover {
        background: var(--bg-color-btn-add-hover);
    }

    i {
        font-size: 1.5rem;
    }
}

.btn-edit-note,
.btn-delete-note,
.btn-bookmark-note {
    border: var(--border-primary);
    border-radius: var(--border-radius);

    padding: 0.75rem;

    &:hover {
        background: var(--bg-color-modal-hover);
    }
}

.btn-bookmark-note {
    color: hsl(36, 94%, 53%);
}

.btn-edit-note {
    color: var(--text-color-btn-edit);
}

.btn-delete-note {
    color: var(--text-color-btn-del);
}
