.note {
    border: (var(--border-primary));
    border-radius: var(--border-radius);
    padding: var(--padding-note);

    background: var(--bg-color-note);
    color: var(--text-color-primary);
    font-size: var(--font-size-heading-note);

    &:hover {
        cursor: pointer;
    }

    &__details {
        display: flex;
        justify-content: space-between;

        margin-bottom: 0.75rem;
    }

    &__title {
        max-height: 2.25rem;

        overflow-y: hidden;

        color: var(--text-color-primary);
        font-size: var(--font-size-note-title);
        text-transform: capitalize;
    }

    &__text {
        word-wrap: break-word;
        min-height: 3rem;
        max-height: 3rem;

        overflow-y: hidden;

        font-size: var(--font-size-body);
        text-transform: capitalize;
    }

    &__options {
        display: flex;
        gap: 0.75rem;
    }

    &__about {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 1.5rem;
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 1rem;

        &-img {
            width: 1.5rem;
            height: 1.5rem;

            border-radius: 50%;
        }

        &-name {
            color: var(--text-color-muted);
            font-size: var(--font-size-body);
        }
    }

    &__date {
        padding: 0.35rem;

        color: var(--text-color-muted);
        font-size: var(--font-size-body);
    }

    &__priority {
        display: flex;
        justify-content: center;
        gap: 0.35rem;

        padding: 0.35rem;

        font-size: var(--font-size-body);

        i {
            position: relative;
            bottom: 0.0067rem;
        }
    }

    &__tag {
        display: flex;
        gap: 0.5rem;

        i {
            color: aqua;
        }
    }
}
