.popup-edit {
    border: var(--border-primary);
    border-radius: var(--border-radius);
    padding: var(--padding-note);

    width: 90%;
    min-height: 300px;

    background-color: var(--bg-color-modal);

    label {
        font-size: 0.95rem;

        color: var(--text-color-muted);
    }

    button {
        color: var(--text-color-primary);
    }

    i {
        font-size: 1.5rem;
    }

    &__note {
        width: 100%;
    }

    &__note-title {
        width: 100%;
        min-height: 2.25rem;

        margin-bottom: 1rem;
        padding: 0.5rem;

        overflow: hidden;

        font-size: var(--font-size-btn);
        color: var(--text-color-primary);
        background: none;

        resize: none;
    }

    &__note-content {
        box-sizing: border-box;

        width: 100%;
        min-height: 2.25rem;

        margin-bottom: 1rem;
        padding: 0.5rem;

        font-size: var(--font-size-btn);
        color: var(--text-color-primary);
        background: none;

        resize: none;
    }

    &__options-wrapper {
        display: flex;
        flex-direction: column;

        margin-bottom: 1rem;

        i {
            margin-right: 0.5rem;
        }
    }

    &__priorities {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-open-btn {
            display: flex;
            justify-content: left;

            width: 100%;

            border-radius: none;
            border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.125);

            &:hover {
                background: var(--bg-color-modal-hover);
            }
        }

        &-btn-list {
            display: none;

            border: var(--border-primary);
            border-radius: var(--border-radius);

            width: fit-content;

            background: var(--bg-color-note);
        }

        &-btn {
            border-radius: none;

            &:hover {
                background: var(--bg-color-modal-hover);
            }
        }
    }

    &__tags {
        &-open-btn {
            display: flex;
            justify-content: left;

            width: 100%;

            border-radius: none;
            border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.125);

            &:hover {
                background: var(--bg-color-modal-hover);
            }
        }

        &-btn-list {
            border: var(--border-primary);
            border-radius: var(--border-radius);

            width: fit-content;

            background: var(--bg-color-note);
        }

        &-btn {
            border-radius: none;
            &:hover {
                background: var(--bg-color-modal-hover);
            }
        }
    }

    &__btn-wrapper {
        display: flex;
        gap: 0.75rem;

        margin: 0 auto;

        width: 16rem;
    }

    &__save-btn {
        display: flex;
        justify-content: center;

        width: 100%;

        background-color: hsl(0, 0%, 15%);
    }

    &__cancel-btn {
        display: flex;
        justify-content: center;

        width: 100%;

        background-color: hsl(0, 74%, 66%);
    }
}

#popup-edit__priority-btn-1 {
    color: red;
}

#popup-edit__priority-btn-2 {
    color: orange;
}

#popup-edit__priority-btn-3 {
    color: yellow;
}

#popup-edit__priority-btn-4 {
    color: rgb(0, 89, 255);
}
