.sidebar-view {
    //width: 300px;
    //padding-left: 1rem;

        padding: var(--padding-note);
        padding-top: 0;

        //background: var(--bg-color-note);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    min-width: 300px;
    width: 30%;

    margin-top: 3rem;

    //margin: 0 auto;

    &__options {
        display: flex;
        justify-content: flex-end;
    }

    &__priority {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        border: (var(--border-primary));
        border-radius: var(--border-radius);
        margin-bottom: 1.5rem;
        padding: var(--padding-note);

        max-height: 300px;

        overflow-y: scroll;

        background: var(--bg-color-note);

        &-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-item {
            display: flex;
            align-items: center;
            text-align: left;

            height: 2.25rem;
            width: 100%;

            border: 1px solid rgba(255, 255, 255, 0.125);
            border-radius: var(--border-radius);
            padding: 0.5rem;

            color: var(--text-color-primary);

            text-transform: capitalize;

            cursor: pointer;

            transition: var(--transition);

            i {
                pointer-events: none;

                margin-right: 0.5rem;

                color: red;
            }
        }
    }

    &__tag {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        border: (var(--border-primary));
        border-radius: var(--border-radius);
        margin-bottom: 1.5rem;
        padding: var(--padding-note);

        //max-height: 300px;

        overflow-y: scroll;

        background: var(--bg-color-note);

        &-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &-item {
            display: flex;
            align-items: center;
            text-align: left;

            height: 2.25rem;
            width: 100%;

            border: 1px solid rgba(255, 255, 255, 0.125);
            border-radius: var(--border-radius);
            padding: 0.5rem;

            color: var(--text-color-primary);

            text-transform: capitalize;

            cursor: pointer;

            transition: var(--transition);

            i {
                pointer-events: none;

                margin-right: 0.5rem;
            }
        }
    }

    &__header {
        margin-bottom: 1rem;

        font-size: var(--font-size-heading-category);

        color: #ffffff;
    }
}
